<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jrs300.shareinsecrettest" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:maxSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/crypto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.jrs300.shareinsecrettest.MainActivity"
            android:label="ShareInSecretTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jrs300.shareinsecrettest.ChooserActivity"
            android:parentActivityName="com.example.jrs300.shareinsecrettest.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jrs300.shareinsecrettest.MainActivity" />
        </activity>
        <activity
            android:name="com.example.jrs300.shareinsecrettest.CreateActivity"
            android:parentActivityName="com.example.jrs300.shareinsecrettest.MainActivity"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jrs300.shareinsecrettest.MainActivity" />
        </activity>
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-rq1nhqsionfgtmd" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />

        <activity
            android:name="com.example.jrs300.shareinsecrettest.FileChooserActivity"
            android:parentActivityName="com.example.jrs300.shareinsecrettest.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jrs300.shareinsecrettest.MainActivity" />
        </activity>

    </application>

</manifest>
